@page
@model IndexModel
@{
    ViewData["Title"] = "Azure Enrique";
}

<div class="text-center">
    <header>
        <h1>Mi Página Web</h1>
    </header>

    <section>
        <h2>¡Bienvenido!</h2>
        <p>Esta es la web de preproduccion.</p>
    </section>

    <footer>
        <p>&copy; 2024 Mi Página Web</p>
        <h3>@ViewData["Greeting"]</h3>


    </footer>


</div>
